@use './partials/typography' as *;

.create-profile-page{
    padding: 88px 287px 77px 224px;
}
.size-profile-box{
    border: 1px solid #c4c4c4;
    height: 735px;
    width: 929px;
    border-radius: 4px;
}