@use './partials/typography' as *;

.create-profile-page{
    padding: 88px 287px 77px 224px;
}
.size-profile-box{
    border: 1px solid #c4c4c4;
    height: 735px;
    width: 929px;
    border-radius: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 4px;
    z-index: 1;
    font-family: 'roboto';
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }